.hurtstatustoggle {
    padding: 0;
    margin: 1em 0;
}

.history--listitem {
    justify-content: space-between;
}

.history--listitem .button {
    color: white;
    box-shadow: none;
}

.history--entry {
    background-color:#18A0FB;
    color: white;
}

.history--created {
    color: #969696;
}


.history__heading {
    width: 100%;
    display: flex;
    justify-content: center;
}
