.hurtstatustoggle {
    padding: 0;
    margin: 1em 0;
}

.history--listitem {
    justify-content: space-between;
}

.history--listitem .button {
    color: white;
    box-shadow: none;
}

.history--entry {
    background-color:#18A0FB;
    color: white;
}

.history--created {
    color: #969696;
}


.history__heading {
    width: 100%;
    display: flex;
    justify-content: center;
}

.hurtlist .button {
    background-color: white;
}
 
.hurtlist .listitem__subcollection__item {
    color: white;
    background-color: #18A0FB;
}

.hurtlist h3 {
    color: black;
}

.hurtlist img {
    max-width: 100px;
}

.hurtlist .listitem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hurtlist .listitem__heading {
    font-weight: 700;
}

.hurtlist .listitem__header .button {
    display: flex;
    flex-direction: column;
}