.timer .row {
    align-items: center;
    margin: .25rem 0 .25rem 0
}

.timer__controls {
    display:flex;
    justify-content: center;
    flex-direction: column;
}

.button:disabled {
    background-color: #bebebe;
  }

  .timer__button__button {
      display: flex;
  }


.showhidesection .timer .button {
    background-color: #969696;
    color: white;
}

.showhidesection .timer .alert .button {
    background-color:transparent;
    display: flex;
    align-items: center;
    color: black
}

.showhidesection .timer .button:disabled {
    background-color: #bebebe;
    color: white;
    box-shadow: none;
}

.timer .timer__controls .timer__controls__startbutton .button{
    border-radius: .5rem 0 0 .5rem
}

.timer .timer__controls .timer__controls__resetbutton .button{
    border-radius: 0 0.5rem 0.5rem 0
}

.timer {
    margin-bottom: 2rem;
}

.timer__controls {
    display:flex;
}

.timer__remaining {
    color: #969696
}

.formpage_layout .healingform .timer .row {
    justify-content: flex-end;
}

.formpage_layout .healingform .timer .timer__controls .row {
    justify-content: center;
}

.button--timer {
    display: flex;
}

.timer__alert .alert__content, .timer_alert .alert__content {
    display: flex;
    align-items: center;
}

.timer__alert .alert__closebutton {
    align-items: center;
}

.timer__alert .alert__closebutton .button {
    font-weight: 700;
}

.timer__alert .alert__closebutton .button:hover {
    color:#969696;
}
