/* Layouts.css */

/* general layout components */


.page_title h1 {
  margin-top: 0px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}


.align-right {
  justify-content: flex-end;
}

@media screen and (max-width: 700px) {
  .align-right{
    justify-content: flex-start;
  }  
}



.align-left {
  justify-content: flex-start;
}

.space-between {
  justify-content: space-between;
}

.col {
  text-align: left;
}

.align-text-right {
  text-align: right;
}

/* BASIC PAGE */

/* top-level div for all content outside of navbar */
.basicpage {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
}

/* first div within page wrapper to control content area width and position */
.basicwrapper {
  margin: 1rem 0;
  padding: 1rem;
  width: 100%;
  max-width: 860px;
  display: flex;
  flex-direction: column;
}

/* AUTH PAGE */

/* top-level div for all auth page items */
.authpage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #bebebe;
}

/* first div within page wrapper to control content area position */
.authwrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.authwrapper h1 {
  text-align: center;
}

/* FORM PAGE  */

.formpage_layout h1 {
  background-color: #18a0fb;
  color: white;
  border-radius: 2px;
  padding: 0.25rem;
  text-align: center;
  margin-top: 0px;
}

.formpage_layout {
  width: 100%;
  max-width: 860px;
}

.formpage_layout fieldset {
  justify-content: space-between;
  width: 100%;
  margin: 0.5rem 0;
}

.formpage_layout .row {
  justify-content: flex-end;
}

/* LIST PAGE */

.listitem {
  margin: 1em 0 1em 0;
  padding: 0.25rem;
  border-radius: 2.5px;
}

.listitem--inactive {
  margin: 1em 0 1em 0;
  padding: 0.25rem;
  border-radius: 2.5px;
}

.listitem .row {
  justify-content: space-between;
  width: 100%;
}

.listitem .button {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.listitem--inactive .button {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: white;
  background-color: #bebebe;
  box-shadow: none;
}

.listitem h3 {
  color: white;
  font-size: medium;
}

.listitem__subcollection {
  display: flex;
  color: black;
  flex-direction: column;
}

.listitem__subcollection__collection {
  display: flex;
}

.listitem__content {
  display: flex;
  flex-wrap: wrap;
}

.listitem__subcollection__item {
  background-color: white;
  font-size: small;
  padding: 0.25rem;
  margin: 0.25rem;
  border-radius: 10px;
  height: fit-content;
  color: #18a0fb;
  text-align: center;
}

.listpage__header {
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 700px) {
  .listpage__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
  }
}


.listitem .button,
.listitem--inactive .button {
  align-items: flex-start;
}

.listitem__header {
}

.listitem__preheader {
  display: flex;
  justify-content: space-between;
  color: #969696
}

.listpage__header .button {
  background-color: white;
  display: flex;
}

/* .owner--listitem::before {
  content: "Added by you";
} */

/* DETAIL PAGE  */

.detailpage_layout > * {
  margin: 0 0 2rem 0;
}
