/* Layouts.css */

/* general layout components */

.row {
  display: flex;
}


/* BASIC PAGE */

/* top-level div for all content outside of navbar */
.basicpage {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    background-color: white;
    text-align: left;
  }
  
  /* first div within page wrapper to control content area width and position */
  .basicwrapper {
    width: 70vh;
  }
  

  /* AUTH PAGE */

  /* top-level div for all auth page items */
  .authpage {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #BEBEBE
  }
  
  /* first div within page wrapper to control content area position */
  .authwrapper {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
  } 
  
  .authwrapper h1 {
   text-align: center;
  }
  
 /* FORM PAGE  */

 .formpage_layout h1 {
   background-color: #18A0FB;
   color: white;
   border-radius: 2px;
   padding: 0.25rem;
   text-align: center;
 }

 .formpage_layout .row .button {
  font-size: 1.6rem;
  color: white;
 }

 .formpage_layout .row {
   justify-content: flex-end;
 }

