.formpage_layout .healingform .row  {
    justify-content: flex-start;
}

.healingform__time h4 {
    padding: none;
    margin: none;
}

.healinglist .listitem__subcollection__heading {
    color: white;
}