
@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');



body {
  margin: 0;
  font-family: 'Rubik', 'PT Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font: 400 13.333px;
  background-color: rgba(249,250,251);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* STYLE GUIDE */

/* colors 
 primary blue - #18A0FB

 light grey - #BEBEBE
 dark grey - #2828282


*/

h1 {
  color: #18A0FB; 
  font-weight: normal;
}

ul {
  padding:0px;
}

h2, h3, h4, h5, h6 {
  font-weight: normal;
}

a {
  color: #18A0FB; 
}

a:active {
  color: yellow;
}

img {
  font-size: x-small;
}

button {
  font-family: 'Rubik';
}

button:active {
  box-shadow: none;
}

input {
  color:#969696;
  font-size: 1rem;
}

select {
  color: #969696;
  font-size: 1rem;
}


/* TRANSITION CLASSES */

.transition-all {
  transition-property: all;
  transition-timing-function: linear;
  transition-duration: .25s;
}


