.nav {
    background-color: #18A0FB;
    width: 100vw;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem calc((100vw - 1000px) / 2);
    z-index: 10;
}

.nav a {
    color: white;
}

.nav .button {
    background-color: white;
    color:  #18A0FB;
    box-shadow: none;
}

.nav .button a {
    color: #18A0FB;
    font-size: 1.8rem;
    text-decoration: none;
}