/* Auth pages */

/* Styles for items within the authwrapper content layout */

.authcontent {
  background-color: white;
  width: 50vh;
  box-shadow: 5px 5px 5px grey;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
}

.authcontent .button {
    color: white;
    justify-content: center;
}

.auth__form {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.auth__form fieldset {
  border: none;
  display: flex;
  justify-content: space-evenly;
  margin: 5px 0 5px 0;
}

.password_alert {
    margin: 3px 0 3px 0;
}

.password_alert p {
    border: 1px solid red;
    padding: 0;
    margin: 0;
    padding: 0.25em;
}

.auth__form input {
    width: auto;
}

.auth__form .button {
    padding:.4rem 0 .4rem 0
}



/* LOGIN */

.login .alert {
  display: flex;
  padding: 2px;
  align-items: center;
}

.login .alert > * {
  margin: .5rem;
}

.login .alert .button {
  color: #969696
}