fieldset {
  display: flex;
  justify-content: space-between;
  border: none;
}

/* BUTTON */

.button {
  background-color: #18a0fb;
  border: none;
  border-radius: 0.2rem;
  box-shadow: 5px 5px 5px grey;
  display: flex;
  align-items: center;
}

.button:active {
  box-shadow: 0 !important;
}

.button:disabled {
  background-color: #bebebe;
}

.detailpage_layout .row .button {
  font-size: 1.6rem;
  color: white;
}

.formpage_layout .row .button {
  font-size: 1.6rem;
  color: white;
}

.addnew--button {
  background-color: white;
  display: flex;
  height: auto;
  color: black;
}

.addnew--button > * {
  padding: 10px;
}

.addnew--button img {
  max-height: 40px;
}

/* TEXT INPUT */

.textinput {
  padding: 0;
  margin: 0;
}

/* TEXT AREA */

.textarea {
  padding: 0;
  margin: 0;
}

.formpage_layout .textarea {
  display: flex;
  flex-direction: column;
}





/* SELECT BAR */

.selectbar {
  padding: 0;
  margin: 0;
}

/* SHOWHIDE SECTION */

.showhidesection {
  margin-bottom: 1rem;
}

.showhidesection__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.basicpage .showhidesection .button {
  background-color: white;
  color: black;
  width: auto;
  height: auto;
  border-radius: 0 5px 5px 0;
  padding: 10px;
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
}

.showhidesection img {
  max-width: 20px;
}

/* BADGE FIELDS */

.badgefield {
  display: flex;
  flex-wrap: wrap;
}


/* BADGES */
.badge {
  display: flex;
  margin: 0.5rem 1rem 0 0.5rem;
}

.detailpage_layout .badgefield .button{
  box-shadow: none;
  color: white;
}


.badge .button {
}


/* ALERT */

.alert {
  display: flex;
}

.deletebutton__alert {
  display: flex;
}

/* LINK FORM */

.linkform {
  margin: 0 0 1rem 0
}