fieldset {
  display: flex;
  justify-content: space-between;
  border: none;
}

.required {
  border: 2px solid #ff0f0f;
}

select {
  text-align-last: right;
  border: 0px transparent;
  background-color: white;
}
/* 
option {
  direction: rtl;
} */

/* BUTTON */

.button {
  background-color: #18a0fb;
  border: none;
  border-radius: 0.2rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s linear;
}

.button:disabled {
  background-color: #bebebe;
}

.button:hover {
  opacity: 0.75;
}

.detailpage_layout .row .button {
  font-size: 1.6rem;
  color: white;
}

.formpage_layout .row .button {
  font-size: 1.6rem;
  color: white;
}

.button--addnew {
  background-color: white;
  display: flex;
  height: fit-content;
  color: black;
  padding: 0;
}

.button--addnew .button > * {
  padding: 0 0.25rem 0 0.25rem;
}

.button--addnew .button {
  background-color: white;
}
.button--addnew .button img {
  max-height: 40px;
}

.button--addnew > * {
  padding: 10px;
}

/* TEXT INPUT */

.textinput {
  padding: 0;
  margin: 0;
}

.textinput .textinput__input__extralabel {
  margin-right: 0.5rem;
  color: #969696;
}

/* TEXT AREA */

textarea {
  font-family: sans-serif;
}

.textarea {
  padding: 0;
  margin: 0;
}

.formpage_layout .textarea {
  display: flex;
  flex-direction: column;
}

/* SELECT BAR */

.selectbar,
.selectbar option {
  padding: 0;
  margin: 0;
}

/* SHOWHIDE SECTION */

.showhidesection {
  margin-bottom: 1rem;
}

.showhidesection__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.basicpage .showhidesection .button,
.basicpage .showhidesection .badge {
  background-color: white;
  color: black;
  width: auto;
  height: auto;
  border-radius: 0 5px 5px 0;
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
}

.showhidesection img {
  max-width: 20px;
}

/* SHOWHIDE CONTROLS */

.showhidecontrols {
  margin: 2rem 0 2rem 0;
  display: flex;
  flex-direction: column;
}

.showhidecontrols .button {
  color: #969696;
  background-color: white;
  box-shadow: none;
  font-size: inherit;
}

/* BADGE FIELDS */

.badgefield {
  display: flex;
  flex-wrap: wrap;
}

/* BADGES */
.badge {
  display: flex;
  margin: 0.5rem 1rem 0 0.5rem;
}

.badge img {
  max-width: 20px;
}

.detailpage_layout .badgefield .button {
  box-shadow: none;
  color: white;
}

.badge .button {
  color: white;
  padding: none;
  font-size: large;
}

.basicpage .showhidesection .badge .button {
  color: black;
}

.basicpage .badge .button {
  border-radius: 0;
}

/* toggle badges */

.toggle--badge--button--left {
  border-radius: 2rem 0 0 2rem !important;
  color: black;
}

.toggle--badge--button--right {
  border-radius: 0 2rem 2rem 0 !important;
}

.showhidesection .toggle--badge--button--left {
  border-color: black;
  border-width: 1px 0 1px 1px;
  border-style: solid;
}

.showhidesection .toggle--badge--button--right {
  border-color: black;
  border-width: 1px 1px 1px 0px;
  border-style: solid;
}

/* ALERT */

.alert {
  display: flex;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  color: #721c24;
  justify-content: space-between;
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 0.25rem;
  border: 1px solid transparent;
}

.deletebutton__alert {
  display: flex;
  background-color: #18a0fb;
}

.deletebutton .button--confirm {
  background-color: red;
}

.deletebutton .alert {
  margin: 0;
  padding: 0;
}

.alert .button {
  background-color: transparent;
  color: #721c24;
}

.alert .alert__closebutton .button {
  font-size: large;
}

.alert .alert__closebutton .button:hover {
  color: #969696;
}

/* LINK FORM */

.linkform {
  margin: 0 0 1rem 0;
}

/* SEARCHBAR */

.searchbar {
  display: flex;
  justify-content: space-between;
}

.searchbar__control {
  display: flex;
}

.controlgroup,
.controlgroup > * {
  font-size: 1rem;
  margin: 0.5rem 0 0.5rem 0;
}

/* MODAL / OVERLAY */

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  z-index: 1000;
  opacity: 1;
  transition: all 0.75s ease-in;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.hidden-overlay {
  opacity: 0;
  transition: all 0.4s ease-in-out;
  transform: translate(-100%);
}

.hidden-modal {
  opacity: 0;
  transition: 1s all 0.4s ease-in-out;
  scale: 0;
}

.showing {
  transition: all 0.5s ease-in-out;
}

/* BADGE DETAIL */

.badgedetail {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.badgedetail__item {
  display: flex;
  flex-direction: column;
}

.badgedetail__closebutton {
  display: flex;
  justify-content: flex-end;
}

.badgedetail__item h3 {
  margin: 0.25rem 0;
}

.badgedetail .button {
  box-shadow: none;
}
